@import url('https://fonts.googleapis.com/css2?family=Saira:wght@600&display=swap'); /* Body title */
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap'); /* Body text */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap'); /* Label design */
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');


:root {
  /* VARIABLES */
  
  /* Shared for all resolutions */
  --scrollbar-width: 4px;
  --content-font-size: 1rem;

  --title-font: 'Anta', Helvetica, Verdana;
  --content-font: 'Cambay', Helvetica, Verdana;
  --menu-footer-font: 'Saira', Helvetica, Verdana;

  /* Colour scheme */
  --content-font-color: rgba(255, 255, 255, 1);
  --content-font-color-hover: rgba(130, 225, 255, 1);
  --content-background: rgba(0, 0, 0, 1);

  --code-background: rgba(255, 255, 255, 0.1);

  --button-font: 'Anta', 'Consolas', Helvetica, Verdana;
  --button-font-color: rgba(83, 168, 255, 1);
  --button-font-color-hover: rgba(255, 255, 255, 1);
  --button-border-hover: 1px solid rgba(51, 160, 255, 1);

  --text-background: rgba(22, 106, 237, 0.25);
  --text-background-border: 1px solid rgba(0, 0, 0, 0.6);
  --border: 1px solid rgba(73, 160, 255, 0.4);

  --portfolio-padding: 5px;
  --portfolio-radius-perc-of-font-size: 0.75;

  /* Mobile view 1 columns */
  --menu-footer-width: calc(100vw - var(--scrollbar-width));
  --menu-footer-button-width: 15vw;

  /* Landscape view 4 columns */
  --menu-header-width: 30vw;
  --menu-header-height: 5vh;

}

::-webkit-scrollbar { width: var(--scrollbar-width); }
::-webkit-scrollbar-thumb { background: #FFF; }





html {
  margin: 0px;
  padding: 0px;
  color: var(--content-font-color);
  font-family: var(--content-font);
  font-size: 18px;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(--content-background);
}

body {
  margin: 0px;
  padding: 0px;
}

#root {
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 { font-family: var(--title-font); }

a {
  color: var(--button-font-color-hover);
  font-family: var(--content-font);
  text-decoration: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

nav {
  margin: 0px;
  padding: 0px;
}





#bg-space {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}





content { background: var(--text-background); }
.content-no-bg { 
  background: none; 
  border: none;
}





#menu-header {
  top: calc(var(--content-font-size) / 2);
  right: calc(var(--content-font-size) / 2);
  position: fixed;
  margin: 0px;
  padding: 0px;
  z-index: 9999;
  width: auto;
  background-size: auto 100%;
  height: calc(var(--content-font-size) * 3.5);
  background: url('./assets/theme/accent/menu-header-panel.svg') no-repeat right top;
}

#menu-header ul {
  height: auto;
  margin: calc(var(--content-font-size) / 1.5) calc(var(--content-font-size) / 2) auto auto;
  padding: 0px;
  display: flex;
  list-style-type: none;
}

#menu-header ul li {
  height: max-content;
  display: block;
  margin-left: calc(var(--content-font-size) * 1.5);
}

#menu-header ul li a {
  font-family: var(--title-font);
  width: 100%;
  height: 100%;
  padding:
    calc(var(--content-font-size) * 0.05)
    calc(var(--content-font-size) * 0.75)
    calc(var(--content-font-size) * 0.05)
    calc(var(--content-font-size) * 0.75);
}

.menu-header a { 
  color: var(--button-font-color);
  border: var(--border); 
}

.menu-header a:hover { 
  color: var(--button-font-color-hover);
  border: var(--button-border-hover);
}

.menu-header-highlight a { 
  color: var(--button-font-color-hover);
  border: 1px solid var(--button-font-color-hover); 
}





#menu-footer {
  margin: 0px;
  padding: 0px;
  width: var(--menu-footer-width);
  position: fixed;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(6, auto);
  place-items: center;
  text-align: center;
  z-index: 998;
}

#menu-footer a {
  color: var(--button-font-color);
  display: grid;
  grid-template-rows: repeat(3, auto);
  font-size: small;
}

#menu-footer a:hover { color: var(--content-font-color); }

.menu-footer-button-border {
  display: grid;
  place-items: center;
}

.menu-footer-button-border img { opacity: 1; }
.menu-footer-button-border { background: url('./assets/theme/accent/menu-footer-button-border-blue.svg') no-repeat center center; }

.menu-footer-button-border-highlight img { opacity: 1; }
.menu-footer-button-border-highlight { background: url('./assets/theme/accent/menu-footer-button-border-white.svg') no-repeat center center; }

.menu-footer-button-light {
  margin: 0px auto 0px auto;
  background-repeat: no-repeat;
  background-position: center center, center center;
  animation: menu-footer-button-light-glow 3s infinite;
}

.menu-footer-button-light {
  background-image: 
  linear-gradient(90deg, transparent, #B4FFFF, transparent),
  linear-gradient(90deg, rgba(76, 89, 150, 0) 0%, rgba(78, 147, 242, 0.6) 25%, #B4FFFF 50%, rgba(146, 226, 255, 0.9) 60%, rgba(78, 147, 242, 0.6) 75%, rgba(76, 89, 150, 0) 100%);
}

.menu-footer-button-light-highlight {
  background-image: 
  linear-gradient(90deg, transparent, #FFFFFF, transparent),
  linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 25%, #FFFFFF 50%, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0.6) 75%, rgba(255, 255, 255, 0) 100%);
}

@keyframes menu-footer-button-light-glow {
  0%   { background-size: 10% 100%, 100% 100%; }
  50%  { background-size: 80% 100%, 100% 100%; }
  100% { background-size: 10% 100%, 100% 100%; }
}

#menu-footer a h6 {
  font-family: var(--menu-footer-font);
  width: 90%;
  margin: 0px auto 1rem auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.menu-footer { color: var(--button-font-color-hover); }





#outlet {
  width: calc(100vw - var(--scrollbar-width));
  height: fit-content;
}





content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: var(--border);
}

content h1, content h2, content h3, content h4, content h5, content h6, content p {
  padding-left: 1rem;
  padding-right: 1rem;
}

content ul, content ol {
  padding-right: 1rem;
}

content a { color: var(--button-font-color); }
content a:hover { color: var(--content-font-color-hover); }

content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: var(--border);
}

content pre code {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  overflow-x: auto;
  font-family: 'Consolas', 'Segoe UI', Helvetica;
  line-height: 1.5;
  background-color: #000;
  border: var(--border);
}

content pre code::-webkit-scrollbar { display: block;
                                      height: var(--scrollbar-width); }
content pre code::-webkit-scrollbar-thumb { background-color: var(--content-font-color); }
content pre code::-webkit-scrollbar-track { background-color: var(--code-background); }




#about { display: flex; }

#about img {
  margin: 0px 0px auto 0px;
  padding: 0px;
  bottom: 0;
  border: none;
}

#about-desc {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1;
}

#about-desc p { margin-bottom: 0px; }

#about-title { display: flex; }

#about-title img {
  margin: 0px;
  padding: 0px;
}

#link-list {
  display: flex;
  place-items: center;
}

#link-list a {
  width: fit-content;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  grid-template-rows: auto auto;
  place-items: center;
}

#link-list a img {
  border: none;
}

#link-list a h6 {
  color: var(--button-font-color);
  margin: calc(var(--portfolio-padding) * 2) 0px 0px 0px;
  padding: 0px;
}

#link-list a:hover h6 { color: var(--button-font-color-hover) }

#certification-list {
  display: grid;
  row-gap: 2rem;
}

#certification-list a {
  color: var(--button-font-color);
  padding: calc(var(--portfolio-padding, 1rem) * 3);
  text-decoration: none;
  display: grid;
  grid-template-rows: auto auto auto auto;
  box-sizing: border-box;
  justify-self: center;
}

#certification-list a h3,
#certification-list a h4,
#certification-list a h5,
#certification-list a p {
  margin: 0;
  padding: 0 0.5rem;
  line-height: 1.2;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: clamp(0.5rem, 1.5vw, 0.8rem);
}

#certification-list a p {
  word-break: break-all;
}

#certification-list a h5 {
  text-align: right;
}

#certification-list a:hover {
  color: var(--button-font-color-hover);
}

#certification-list a:hover p {
  color: var(--content-font-color-hover);
}





.filter { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 6rem;
}

.filter button {
  width: fit-content;
  color: var(--button-font-color);
  font-size: calc(var(--content-font-size) * 0.75);
  font-family: var(--button-font); 
  background-color: rgba(0, 0, 0, 0);
  border: var(--border);
  margin: var(--portfolio-padding);
  padding: 
    calc(var(--content-font-size) * 0.15)
    calc(var(--content-font-size) * 0.75)
    calc(var(--content-font-size) * 0.25)
    calc(var(--content-font-size) * 0.75);
}

.filter button:hover { 
  cursor: pointer;
  color: var(--button-font-color-hover);
  border: var(--button-border-hover);
}





#portfolio-list, #readings-list { 
  display: grid;
  place-items: center;
  row-gap: 4rem; 
}

#portfolio-list a, #readings-list a {
  color: var(--button-font-color);
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  padding: calc(var(--portfolio-padding) * 3);
  overflow: hidden;
  justify-self: center;
  align-self: center;
} 

#portfolio-list a:hover, #readings-list a:hover { 
  color: var(--button-font-color-hover);
}

#portfolio-list a:hover img, #readings-list a:hover img { opacity: 1; }

#portfolio-list h4, #readings-list h4 {
  margin-top: 0px;
  display: grid;
  place-items: center;
  text-align: center;
  white-space: normal;
  line-clamp: 2;
  overflow: hidden;
  padding-left: var(--portfolio-padding);
  padding-right: var(--portfolio-padding);
  height: calc(var(--content-font-size) * 3.25);
  margin-bottom: 0px;
}

#portfolio-list h5, #readings-list h5 {
  margin: 0px;
  display: grid;
  text-align: right;
  line-clamp: 1;
  overflow: hidden;
  border-top: none;
  padding-right: var(--portfolio-padding, 1rem);
  min-height: calc(var(--content-font-size) * 1.5);
  position: relative;
  z-index: 1;
}

#portfolio-list img, #readings-list img {
  width: 100%;
  height: auto;
  max-height: 100%;
  opacity: 0.45;
  object-fit: contain;
}

#portfolio-list p, #readings-list p {
  margin: var(--portfolio-padding) 0px 0px 0px;
  padding: var(--portfolio-padding);
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}





#blog-list { 
  display: grid;
  place-items: center;
  row-gap: 3rem;
}

#blog-list a {
  color: var(--button-font-color);
  display: grid;
  grid-template-rows: auto auto 1fr;
  padding: calc(var(--portfolio-padding) * 3);
  overflow: hidden;
} 

#blog-list a:hover { 
  color: var(--button-font-color-hover);
} 

#blog-list h4 {
  margin: 0px;
  display: grid;
  place-items: center;
  text-align: center;
  white-space: normal;
  line-clamp: 2;
  overflow: hidden;
  padding-left: var(--portfolio-padding);
  padding-right: var(--portfolio-padding);
  height: calc(var(--content-font-size) * 3.25);
}

#blog-list h5 {
  margin: 0px;
  display: grid;
  text-align: right;
  line-clamp: 1;
  overflow: hidden;
  padding-right: var(--portfolio-padding);
}

#blog-list p {
  margin: 0px;
  padding: var(--portfolio-padding);
  overflow: hidden;
  border-top: none;
}





/* ======================================================================================== */
/* =============================  PORTRAIT MOBILE 1 COLUMN  =============================== */
/* ======================================================================================== */

@media (max-aspect-ratio: 12/21) {

  html { font-size: calc(var(--content-font-size) * 0.9); }

  content { width: calc(95vw - var(--scrollbar-width)); }
  content img { width: 85vw; }
  content pre code { width: 85vw; }

  #menu-header { display: none; }

  .menu-footer-button-border {
    width: var(--menu-footer-button-width);
    height: var(--menu-footer-button-width);
  }

  .menu-footer-button-border img { 
    width: calc(var(--menu-footer-button-width) * 0.40);
    height: calc(var(--menu-footer-button-width) * 0.40);
  }

  .menu-footer-button-light {
    width: calc(var(--menu-footer-button-width) * 0.7);
    height: calc(var(--content-font-size) * 0.5);
  }

  #outlet {
    padding-top: var(--menu-footer-button-width);
    padding-bottom: calc(var(--menu-footer-button-width) * 2.5)
  }

  #about img {
    width: 22vw;
    height: 26.4vw;
  }

  #about-title { margin-left: 3vw; }

  #about-title img { 
    height: 5vw; 
    width: auto;
  }

  #link-list a img {
    width: 14vw;
    height: 14vw;
  }

  #certification-list { 
    grid-template-columns: repeat(1, 1fr); 
    column-gap: 0px;
  }
  
  #certification-list a { 
    width: 90vw;
    height: 22vw;
    background: url('./assets/theme/accent/prompt-4-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #certification-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-4-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #portfolio-list, #readings-list  { 
    grid-template-columns: repeat(1, 1fr); 
    column-gap: 0px;
    row-gap: 4rem;
  }

  #portfolio-list a { 
    width: 90vw; 
    height: 90vw;
    background: url('./assets/theme/accent/prompt-1-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #portfolio-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-1-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #portfolio-list p, #readings-list p { height: calc(var(--content-font-size) * 4); }

  #blog-list { 
    grid-template-columns: repeat(1, 1fr); 
    column-gap: 0px;
  }

  #blog-list a { 
    width: 90vw; 
    height: 30vw;
    background: url('./assets/theme/accent/prompt-3-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #blog-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-3-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #blog-list p { height: calc(var(--content-font-size) * 6); }

  #readings-list a { 
    width: 90vw; 
    height: 180vw;
    background: url('./assets/theme/accent/prompt-1-2.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #readings-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-1-2.svg') no-repeat right top;
    background-size: 100% 100%;
  }

}





/* ======================================================================================== */
/* =============================  SQUARISH PORTRAIT 2 COLUMNS  ============================ */
/* ======================================================================================== */

@media (min-aspect-ratio: 12/21) and (max-aspect-ratio: 1/1) {

  html { font-size: calc(var(--content-font-size) * 1.1); }

  content { width: calc(95vw - var(--scrollbar-width)); }
  content img { width: 85vw; }
  content pre code { width: 85vw; }

  #menu-header { display: none; }

  .menu-footer-button-border {
    width: calc(var(--menu-footer-button-width) * 0.75);
    height: calc(var(--menu-footer-button-width) * 0.75);
  }

  .menu-footer-button-border img { 
    width: calc(var(--menu-footer-button-width) * 0.75 * 0.40);
    height: calc(var(--menu-footer-button-width) * 0.75 * 0.40);
  }

  .menu-footer-button-light {
    width: calc(var(--menu-footer-button-width) * 0.49);
    height: calc(var(--content-font-size) * 0.25);
  }

  #outlet { 
    padding-top: var(--menu-footer-button-width);
    padding-bottom: calc(var(--menu-footer-button-width) * 2);
  }

  #about img {
    width: 24vw;
    height: 28.8vw;
  }

  #about-title { margin-left: 3vw; }

  #about-title img { 
    height: 6vw; 
    width: auto;
  }

  #link-list a img {
    width: 10vw;
    height: 10vw;
  }

  #certification-list { 
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 1rem;
  }
  
  #certification-list a { 
    width: 40vw;
    height: 20vw;
    background: url('./assets/theme/accent/prompt-2-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #certification-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-2-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #portfolio-list, #readings-list { 
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 1rem;
    row-gap: 3rem;
  }

  #portfolio-list a { 
    width: 43vw; 
    height: 57vw;
    background: url('./assets/theme/accent/prompt-3-4.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #portfolio-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-3-4.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #portfolio-list p, #readings-list p { 
    font-size: calc(var(--content-font-size) * 0.9); 
    height: calc(var(--content-font-size) * 6);
  }

  #blog-list { 
    grid-template-columns: repeat(1, 1fr); 
    column-gap: 0px;
  }

  #blog-list a { 
    width: 90vw; 
    height: 23vw;
    background: url('./assets/theme/accent/prompt-4-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #blog-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-4-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #blog-list p { height: calc(var(--content-font-size) * 6); }

  #readings-list a { 
    width: 43vw; 
    height: 86vw;
    background: url('./assets/theme/accent/prompt-1-2.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #readings-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-1-2.svg') no-repeat right top;
    background-size: 100% 100%;
  }

}





/* ======================================================================================== */
/* =============================  SQUARISH LANDSCAPE 3 COLUMNS  =========================== */
/* ======================================================================================== */

@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 16/10) {

  html { font-size: calc(var(--content-font-size) * 1.15); }

  content { width: calc(65vw - var(--scrollbar-width)); }
  content img { width: 55vw; }
  content pre code { width: 55vw; }

  #menu-footer { display: none; }

  #outlet { 
    padding-top: calc(var(--menu-header-height) * 1.5);
    padding-bottom: calc(var(--menu-header-height) * 2);
  }

  #about img {
    width: 15vw;
    height: 18vw;
  }

  #about-title { margin-left: 1.5vw; }

  #about-title img { 
    height: 3vw; 
    width: auto;
  }

  #link-list a img {
    width: 5vw;
    height: 5vw;
  }

  #certification-list { 
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 1rem;
  }

  #certification-list a { 
    width: 28vw;
    height: 14vw;
    background: url('./assets/theme/accent/prompt-2-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #certification-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-2-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #portfolio-list, #readings-list {
    grid-template-columns: repeat(3, 1fr); 
    column-gap: 1rem;
    row-gap: 4rem;
  }

  #portfolio-list a { 
    width: 29vw; 
    height: 39vw;
    background: url('./assets/theme/accent/prompt-3-4.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #portfolio-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-3-4.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #portfolio-list p { 
    font-size: calc(var(--content-font-size) * 0.9); 
    height: calc(var(--content-font-size) * 4);
  }

  #blog-list {
    grid-template-columns: repeat(2, 1fr); 
    column-gap: auto;
  }

  #blog-list a { 
    width: 45vw; 
    height: 15vw;
    background: url('./assets/theme/accent/prompt-3-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #blog-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-3-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #blog-list p { 
    font-size: calc(var(--content-font-size) * 0.9); 
    height: calc(var(--content-font-size) * 6);
  }

  #readings-list a { 
    width: 29vw; 
    height: 58vw;
    background: url('./assets/theme/accent/prompt-1-2.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #readings-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-1-2.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #readings-list p { 
    font-size: calc(var(--content-font-size) * 0.9); 
    height: calc(var(--content-font-size) * 6);
  }

}





/* ======================================================================================== */
/* =============================  LANDSCAPE DESKTOP 4 COLUMNS  ============================ */
/* ======================================================================================== */

@media (min-aspect-ratio: 16/10) {

  html { font-size: var(--content-font-size); }

  content { width: calc(55vw - var(--scrollbar-width)); }
  content img { width: 45vw; }
  content pre code { width: 45vw; }

  #menu-footer { display: none; }

  #outlet { 
    padding-top: calc(var(--menu-header-height) * 1.5);
    padding-bottom: calc(var(--menu-header-height) * 2);
  }

  #about img {
    width: 12vw;
    height: 14.4vw;
  }

  #about-title { margin-left: 1vw; }

  #about-title img { 
    height: 2vw; 
    width: auto;
  }

  #link-list a img {
    width: 3vw;
    height: 3vw;
  }

  #certification-list { 
    grid-template-columns: repeat(3, 1fr); 
    column-gap: 1rem;
  }

  #certification-list a { 
    width: 15vw;
    height: 10vw;
    background: url('./assets/theme/accent/prompt-3-2.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #certification-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-3-2.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #portfolio-list, #readings-list {
    grid-template-columns: repeat(4, 1fr); 
    column-gap: 1rem;
    row-gap: 4rem;
  }

  #portfolio-list a { 
    width: 21vw; 
    height: 28vw;
    background: url('./assets/theme/accent/prompt-3-4.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #portfolio-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-3-4.svg') no-repeat right top;
    background-size: 100% 100%;
  }


  #portfolio-list p, #readings-list p { height: calc(var(--content-font-size) * 5.5); }

  #blog-list {
    grid-template-columns: repeat(3, 1fr); 
    column-gap: auto;
  }

  #blog-list a { 
    width: 30vw; 
    height: 10vw;
    background: url('./assets/theme/accent/prompt-3-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #blog-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-3-1.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #blog-list p { height: calc(var(--content-font-size) * 5.5); }

  #readings-list a { 
    width: 21vw; 
    height: 42vw;
    background: url('./assets/theme/accent/prompt-1-2.svg') no-repeat right top;
    background-size: 100% 100%;
  }

  #readings-list a:hover { 
    background: url('./assets/theme/accent/prompt-hover-1-2.svg') no-repeat right top;
    background-size: 100% 100%;
  }

}





/* Scroll into view effect using scripts\scrollIntoView.js */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideLeft {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}